
/* MATERIAL UI FORCED CHANGED STYLES */
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #0C4864 !important;
}

.MuiGrid-grid-xs-12 {
  max-width: 350px !important;
  min-width: 277px !important;

}
.MuiTimelineDot-defaultGrey.OFFLINE{
  background-color: #bdbdbd;
}
.MuiTimelineDot-defaultGrey.ONLINE{
  background-color: #00cc00;
}

.MuiTimelineDot-defaultGrey.DATE{
  background-color: #cc00ff;
}

/* MY STYLES */

.header_logo{
  max-height: 50px;
}

.header_title{
  max-height: 50px;
}


.profileCard_img {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.profileCard_img-file {

  width: 100%;
  height: auto;
}

.profileCard_header {
  padding-bottom: 0 !important;
  background-color: #0C4864;
}

.profileCard_header-content {
  padding: 0 !important;
  color: #fff;
  justify-content: space-between;

}

.profileCard_location {
  padding-bottom: 0 !important;
  background-color: #0C4864;
}

.profileCard_location-container {
  width: 100%;
  padding: 0 !important;
}

.profileCard_location-content {
  padding: 0 !important;
  width: 100%;
  color: #fff;
  display: inline-flex;
  justify-content: space-between;
}
.profileCard_location-data{
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.profileCard_location-distance{
  width: 30%;
  display: inline-flex;
  justify-content: center;
}
.profileCard_location-bar{
  width: 5%;
  display: inline-flex;
  justify-content: center;
  padding-left: 20px;
}
.profileCard_location-city{
  width: 60%;
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 20px;
  white-space: nowrap;
}
.profileCard_body {
  background-color: #0C4864;
}

p.profileCard_body-head {
  color: #fff;
  
}

.profileCard_data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40%;
  background-color: #0C4864;

}

/* MEDIA QUERYS*/

@media (max-width: 429px) {
  .header_title{
    display: none;
  }
}

@media (max-width: 600px) {
  .myGrid {
    justify-content: center;
  }
  .header_logo{
    max-height: 50px;
  }
 
}

@media (max-width: 959px) {
  .myGrid {
    justify-content: center;
  }
}
